In [33]:
import pandas as pd
from itertools import chain

# Data-Prep For Data File

In [34]:
data = pd.read_csv("IDS Datasets/IDS-DRSCountries_WLD_Data.csv")

In [35]:
data.shape

(66106, 64)

In [36]:
data.sample(n=5)

,Country Name,Country Code,Counterpart-Area Name,Counterpart-Area Code,Series Name,Series Code,1970,1971,1972,1973,...,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027
27376,India,IND,World,WLD,"Debt service on external debt, total (TDS, cur...",DT.TDS.DECT.CD,1.360640e+09,576982877.2,640550924.6,694863198.4,...,6.364659e+10,5.144370e+10,5.777025e+10,5.513479e+10,5.481369e+10,5.317338e+10,5.524663e+10,4.325700e+10,4.218299e+10,3.892407e+10
47312,Peru,PER,World,WLD,"GG, commercial banks (TDS, current US$)",DT.TDS.PCBK.GG.CD,2.981368e+07,28486495.0,34480205.0,171069018.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54959,St. Vincent and the Grenadines,VCT,World,WLD,"PPG, commercial banks (DIS, current US$)",DT.DIS.PCBK.CD,0.000000e+00,0.0,0.0,0.0,...,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6833,Bosnia and Herzegovina,BIH,World,WLD,"PRVG, bonds (DIS, current US$)",DT.DIS.PBND.PRVG.CD,0.000000e+00,0.0,0.0,0.0,...,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4875,Belize,BLZ,World,WLD,"PRVG, official creditors (INT, current US$)",DT.INT.OFFT.PRVG.CD,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
revised_data = data[["Country Name","Country Code", "Series Code", "Series Name", "2020"]].copy()

In [38]:
revised_data.sample(n=5)

,Country Name,Country Code,Series Code,Series Name,2020
51377,Sierra Leone,SLE,DT.NTR.DPPG.CD,"Net transfers on external debt, public and pub...",NaN
21821,Gabon,GAB,DT.DOD.MLAT.PS.CD,"PS, multilateral (DOD, current US$)",NaN
42513,Mozambique,MOZ,DT.AMT.BLAT.CD,"PPG, bilateral (AMT, current US$)",451007692.4
32666,Latin America & Caribbean (excluding high income),LAC,DT.NFL.BLAT.PRVG.CD,"PRVG, bilateral (NFL, current US$)",NaN
60351,Turkey,TUR,DT.NFL.PCBK.OPS.CD,"OPS, commercial banks (NFL, current US$)",NaN

In [39]:
revised_data.columns

Index(['Country Name', 'Country Code', 'Series Code', 'Series Name', '2020'], dtype='object')

In [40]:
revised_data.rename(columns = {"Country Name":"country_name", "Country Code":"country_code", "Series Code":"indicator_code", "Series Name":"indicator_name", "2020":"debt_amount"}, inplace = True)

In [41]:
revised_data.columns

Index(['country_name', 'country_code', 'indicator_code', 'indicator_name',
       'debt_amount'],
      dtype='object')

In [42]:
revised_data.shape

(66106, 5)

In [43]:
revised_data.sample(n=5)

,country_name,country_code,indicator_code,indicator_name,debt_amount
49452,Samoa,WSM,DT.NFL.PRVT.OPS.CD,"OPS, private creditors (NFL, current US$)",NaN
56741,Tajikistan,TJK,DT.TDS.BLTC.GG.CD,"GG, bilateral concessional (TDS, current US$)",NaN
52634,Somalia,SOM,DT.DIS.MLAT.PS.CD,"PS, multilateral (DIS, current US$)",NaN
28407,"Iran, Islamic Rep.",IRN,DT.DIS.BLTC.GG.CD,"GG, bilateral concessional (DIS, current US$)",NaN
13568,"Congo, Dem. Rep.",COD,DT.INT.DLXF.CD,"Interest payments on external debt, long-term ...",109357165.4

In [44]:
revised_data.loc[66090:,:]

,country_name,country_code,indicator_code,indicator_name,debt_amount
66090,Zimbabwe,ZWE,DT.TXR.DPPG.CD,Total amount of debt rescheduled (current US$),NaN
66091,Zimbabwe,ZWE,DT.DOD.DECT.CD.CG,Total change in external debt stocks (current ...,NaN
66092,Zimbabwe,ZWE,DT.TDS.DECT.EX.ZS,"Total debt service (% of exports of goods, ser...",NaN
66093,Zimbabwe,ZWE,FI.RES.TOTL.DT.ZS,Total reserves (% of total external debt),NaN
66094,Zimbabwe,ZWE,FI.RES.TOTL.CD,"Total reserves (includes gold, current US$)",NaN
66095,Zimbabwe,ZWE,FI.RES.TOTL.MO,Total reserves in months of imports,NaN
66096,Zimbabwe,ZWE,DT.UND.OFFT.CD,"Undisbursed external debt, official creditors ...",NaN
66097,Zimbabwe,ZWE,DT.UND.PRVT.CD,"Undisbursed external debt, private creditors (...",NaN
66098,Zimbabwe,ZWE,DT.UND.DPPG.CD,"Undisbursed external debt, total (UND, current...",NaN
66099,Zimbabwe,ZWE,DT.DOD.DIMF.CD,"Use of IMF credit (DOD, current US$)",NaN
66100,Zimbabwe,ZWE,DT.DOD.DSDR.CD,"Use of IMF credit, SDR allocations (DOD, curre...",NaN
66101,NaN,NaN,NaN,NaN,NaN
66102,NaN,NaN,NaN,NaN,NaN
66103,NaN,NaN,NaN,NaN,NaN
66104,Data from database: International Debt Statistics,NaN,NaN,NaN,NaN
66105,Last Updated: 10/16/2020,NaN,NaN,NaN,NaN

In [45]:
revised_data.drop([66101, 66102, 66103, 66104, 66105], inplace = True)

In [46]:
revised_data

,country_name,country_code,indicator_code,indicator_name,debt_amount
0,Afghanistan,AFG,DT.GPA.DPPG,Average grace period on new external debt comm...,NaN
1,Afghanistan,AFG,DT.GPA.OFFT,Average grace period on new external debt comm...,NaN
2,Afghanistan,AFG,DT.GPA.PRVT,Average grace period on new external debt comm...,NaN
3,Afghanistan,AFG,DT.GRE.DPPG,Average grant element on new external debt com...,NaN
4,Afghanistan,AFG,DT.GRE.OFFT,Average grant element on new external debt com...,NaN
...,...,...,...,...,...
66096,Zimbabwe,ZWE,DT.UND.OFFT.CD,"Undisbursed external debt, official creditors ...",NaN
66097,Zimbabwe,ZWE,DT.UND.PRVT.CD,"Undisbursed external debt, private creditors (...",NaN
66098,Zimbabwe,ZWE,DT.UND.DPPG.CD,"Undisbursed external debt, total (UND, current...",NaN
66099,Zimbabwe,ZWE,DT.DOD.DIMF.CD,"Use of IMF credit (DOD, current US$)",NaN
66100,Zimbabwe,ZWE,DT.DOD.DSDR.CD,"Use of IMF credit, SDR allocations (DOD, curre...",NaN

In [47]:
country_metadata = pd.read_csv("IDS Datasets/IDS-DRSCountries_WLD_CountryMetadata.csv")

In [48]:
country_metadata.sample(n=5)

,Code,Long Name,Income Group,Region,Lending category,Other groups,Currency Unit,Latest population census,Latest household survey,Special Notes,...,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,2-alpha code,WB-2 code,Table Name,Short Name
20,KHM,Kingdom of Cambodia,Lower middle income,East Asia & Pacific,IDA,NaN,Cambodian riel,2019,"Demographic and Health Survey, 2014",NaN,...,"Integrated household survey (IHS), 2012",NaN,2013,2000.0,2017.0,2006.0,KH,KH,Cambodia,Cambodia
99,WSM,Samoa,Upper middle income,East Asia & Pacific,IDA,NaN,Samoan tala,2016,"Multiple Indicator Cluster Survey, 2019/20",Fiscal year ends on June 30; reporting period ...,...,"Expenditure survey/budget survey (ES/BS), 2013",NaN,2009,NaN,2017.0,NaN,WS,WS,Samoa,Samoa
16,BGR,Republic of Bulgaria,Upper middle income,Europe & Central Asia,IBRD,NaN,Bulgarian lev,2011,"Living Standards Measurement Study, 2007",NaN,...,"Expenditure survey/budget survey (ES/BS), 2014",Yes,2010,2014.0,2017.0,2013.0,BG,BG,Bulgaria,Bulgaria
1,ALB,Republic of Albania,Upper middle income,Europe & Central Asia,IBRD,NaN,Albanian lek,2011,"Demographic and Health Survey, 2017/18",NaN,...,Living Standards Measurement Study Survey (LSM...,Yes,2012,2013.0,2017.0,2006.0,AL,AL,Albania,Albania
117,TLS,Democratic Republic of Timor-Leste,Lower middle income,East Asia & Pacific,Blend,NaN,U.S. dollar,2015,"Demographic and Health Survey, 2016",NaN,...,Living Standards Measurement Study Survey (LSM...,NaN,NaN,NaN,2017.0,2004.0,TL,TP,Timor-Leste,Timor-Leste

In [60]:
income_groups = country_metadata["Income Group"].unique().tolist()

In [61]:
regions = country_metadata["Region"].unique().tolist()

In [72]:
lst =[]

In [73]:
for item in income_groups:
    lst.append(revised_data.index[revised_data.country_name == item].tolist())

In [74]:
len(lst)

4

In [75]:
for item in regions:
    lst.append(revised_data.index[revised_data.country_name == item].tolist())

In [76]:
len(lst)

11

In [77]:
new_lst = list(chain.from_iterable(lst))

In [78]:
len(new_lst)

1988

In [79]:
revised_data.drop(new_lst, inplace = True)

In [80]:
revised_data.drop(revised_data.index[revised_data.country_name == "IDA only"].tolist(), inplace = True)

In [81]:
revised_data.drop(revised_data.index[revised_data.country_name == "Europe & Central Asia (excluding high income)"].tolist(), inplace = True)

In [82]:
revised_data.drop(revised_data.index[revised_data.country_name == "Middle East & North Africa (excluding high income)"].tolist(), inplace = True)

In [83]:
revised_data.drop(revised_data.index[revised_data.country_name == "Sub-Saharan Africa (excluding high income)"].tolist(), inplace = True)

In [84]:
revised_data.drop(revised_data.index[revised_data.country_name == "Latin America & Caribbean (excluding high income)"].tolist(), inplace = True)

In [85]:
revised_data.drop(revised_data.index[revised_data.country_name == "Middle income"].tolist(), inplace = True)

In [86]:
revised_data.drop(revised_data.index[revised_data.country_name == "East Asia & Pacific (excluding high income)"].tolist(), inplace = True)

In [87]:
revised_data.drop(revised_data.index[revised_data.country_name == "Least developed countries: UN classification"].tolist(), inplace = True)

# Creating CSV File

In [88]:
#revised_data.to_csv("IDS_revised_data_2020.csv", encoding = "utf-8", index = False)